{
  "presets": ["next/babel"],
  "plugins": [
    [
      "emotion",
      {
        "inline": true
      }
    ],
    [
      "import",
      { "libraryName": "react-feather", "libraryDirectory": "dist/icons" },
      "react-feather"
    ],
    [
      "import",
      {
        "libraryName": "lodash",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "lodash"
    ]
  ]
}
